<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link rel="alternate" type="application/rss+xml" title="Lektor.io RSS feed" href="http://blog.lektor.io/posts.xml">
        <!-- iPhone -->
        <link rel="apple-touch-icon" sizes="57x57" href="/images/rocket-57x57.png">
        <!-- iPhone Retina -->
        <link rel="apple-touch-icon" sizes="114x114" href="/images/rocket-114x144.png">
        <!-- iPad -->
        <link rel="apple-touch-icon" sizes="72x72" href="/images/rocket-72x72.png">
        <!-- iPad Retina -->
        <link rel="apple-touch-icon" sizes="144x144" href="/images/rocket-144x144.png">
        <link rel="icon" href="/rocket-64x64.png">
        <!-- Should be last -->
        <link rel="shortcut icon" href="/favicon.ico">

        <style>
            body {
                padding-top: 60px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="http://lektor.io/"><i class="icon-rocket icon-large" style="color: rgba(50, 181, 255, 0.5); text-shadow: 0 1px rgba(255,255,255,0.9);"></i> Lektor</a>
                    <div class="pull-right">
                        <a href="http://lektor.io/register" class="btn btn-primary">Register</a>
                        <a href="http://lektor.io/signin" class="btn">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {{ content }}
            <div class="row footer">
                <p class="muted pull-left">&copy; 2013 Lektor</p>
                <p class="pull-right">
                    <a href="http://blog.lektor.io/">Blog</a>
                    &middot;
                    <a href="http://twitter.com/lektorapp">Twitter</a>
                </p>
            </div>
        </div>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>
